# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2e5f18e6e01fe721335483a12bc10ee12b05f528c773269246b403f7837f986f95c9de1cbada8699b9847bec17ad88724c09281ba4c7d1581266faf1b6bb2fbd

test:
  secret_key_base: 34dff1a31eae4f361ad88829e51ae9f59cdee289d3646d63f1ea3a1f58a10ae53fbeb7838679f8567a23905d01a3d4f62edb933789d875537cc97bacdca72daa

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
